:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
    background-color: white;
    overflow-x: hidden;
    margin: 20px;
}


.button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    border-radius: 20px;
    transition-duration: 0.3s;
  }

    .button:hover {
    background-color:black;
    color: white;
  }

  
/* grid stuff */
.grid {
    display: grid;
    background-color: white;
    grid-gap: 200px 120px;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-flow: dense;
    grid-auto-rows: 40px 300px;
    padding: 100px;
 }

.col img {
    max-width: 65%;
    max-height: 65%;
    display: flex;
}

.col p {
    max-width: 90%;
    max-height: 100%;
    overflow: scroll;
    text-overflow: ellipsis;
}

#review-header {
    font-size:20px;
    color:black;
    font-weight: bold;
    font-family: 'Inter Black', sans-serif;
}
    

/* overlay text stuff */
.head {
    font-size: 10rem;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    opacity: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
  
#overlay {
    color: black;
    opacity: 100%;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 210px;
}

/* nav bar stuff */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    top: 0;
    background-color: white;
}

.topnav .content {
    flex: 5;
    display: flex;
    justify-content: end;
    align-items: stretch;
    margin-right: 30px;
}

@media only screen and (max-width: 1000px) {
    .topnav .content {
        overflow-x:scroll; 
        overflow-y:hidden;
        justify-content:start;
    }
    .column-img {
        display: none;
    }

    .head {
        font-size: 55px;
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        opacity: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter', sans-serif;
    }
      
    #overlay {
        color: black;
        opacity: 100%;
        font-size: 10px;
        font-family: 'Inter', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        bottom: 80px;
    }

    .grid {
        display: grid;
        background-color: white;
        grid-gap: 20px 20px;
        grid-template-columns: repeat(1, 2fr);
        grid-auto-flow: dense;
        grid-auto-rows: 40px 300px;
        padding: 60px;

      }
}
  
.topnav a {
    float: left;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border-bottom: 3px solid transparent;
    text-align:center;
}


.topnav .content a:hover {
border-bottom: 3px solid black;
}

.topnav .content a.active {
border-bottom: 3px solid black;
}

.topnav .content button:hover {
    border-bottom: 3px solid black;
}

.topnav .content button.active {
    border-bottom: 3px solid black;
}


.dropdown {
    float: left;
}
  
.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Inter', sans-serif;
    margin: 0; 

}
  
.dropdown-content {
    display: none;
    position: absolute;
    stroke-width: 5px;
    stroke: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
  }
  

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .dropdown-content a:hover {
    background-color: #f5f2f2;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

.logo {
    padding: 14px 16px;
    margin-left: -100px;
    width: 23%;
    height: auto;
    flex: 1;
}

.topnav .logodiv {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 130px;
}

#user {
    padding: 14px 16px;
    width: 20%;
    height: auto;
    
}

/* header stuff */
.header {
    padding: 100px;
    padding-top: 120px;
    text-align: center;
    color: black;
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header2 {
    color: black;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 20px;
    color: black;
    font-family: 'Inter', sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link { text-decoration: none; }


/* a:visited { text-decoration: none; } */


/* a:hover { text-decoration: none; } */


/* a:active { text-decoration: none; } */


.column-text {
    font-size: 15px;
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 150px;
    flex-direction: column;
}

.column-text a:link {
    /* unvisited link */
    color: #0b1699;
    text-decoration: none;
}

a:visited {
    /* visited link */
    color: #784a94;
    text-decoration: none;
}

a:hover {
    /* hovered link */
    color: #8f1b1b;
    text-decoration: none;
}

.column-img {
    flex: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: -40px;
}

#business-img {
    max-width: 70%;
    max-height: 70%;
}


.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

#proj-img{
    width:100%;
    height:auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    transition: transform .1s;
}

#proj-img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:25rem;
    min-width:18rem;
    margin: 10px;
    text-align: center;

}